.App {
  padding-top: 50px;
  margin: 16px;
}

.container {
  background-color: #f8edeb;
}

.pending {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: lightpink;
  padding: 32px;
}
.addIngredientDataBtn {
  margin-top: 35px;
}

.update,
.delete {
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 50px;
  padding: 3px;
  cursor: pointer;
  margin-right: 4px;
}

.update-delete {
  position: absolute;
  right: 2px;
}
